* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}


header {
    height: 40px;
    background-color: black;

}

/* header */
.comand {
    width: 100vw;
    padding: 8px 15px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;


}

span {
    background-color: rgb(78, 77, 77);
    padding: 3px;
    border-radius: 5px;

}



/* header */



/* main */

main {
    height: calc(100vh - 110px);
    background-color: orange;
    display: flex;
    justify-content: center;
}

.green {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 20px 0px;
}

.users {
    width: calc(100% / 7);
    padding: 10px 5px;
}

.box {
    height: 100px;
    background-color: aqua;
}

.box {
    position: relative;
}

.box img {
    width: 100%;
    height: 100%;
    display: block;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* main */



/* footer */

footer {
    height: 70px;
    background-color: rgb(78, 77, 77);
    color: white;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
}

footer .flex-container {
    display: flex;
}

.footer-sx, .footer-dx {
    width: 15%;
}

footer .btn-footer-chevron {
    font-size: 10px;
    margin-left: 5px;
}

footer .btn-footer-container {
    padding: 10px;
    display: flex;
    align-items: center;
}

.footer-sx {
    padding-left: 10px;
    align-items: center;
}

.footer-md {
    padding: 10px;
    align-items: center;
}

.footer-dx {
    justify-content: flex-end;
}

.footer-dx .btn {
    padding: 10px;
    color: red;
    background-color: grey;
}

/* footer */